<div class="relative w-full h-full">
  <div
    class="absolute z-30 translate transition-transform w-full h-full px-0 sm:px-[20px] flex justify-center items-center"
    [ngClass]="{
      'translate-y-[-100%]': !(activePages$ | async)?.optionsPage
    }"
  >
    <div
      class="w-full max-w-[1000px] h-full sm:h-[400px] bg-gray-900 rounded-lg flex flex-col justify-start"
    >
      <div class="w-full h-[50px] flex justify-between items-center px-[10px]">
        <div class="flex items-center gap-[10px]">
          <div
            class="bg-gray-500/20 hover:bg-gray-500/40 flex sm:hidden transition-all rounded-full items-center justify-center w-[30px] h-[30px] mt-[4px]"
            [ngClass]="{
              'opacity-20': isMobileChapterSelectorActive
            }"
            (click)="switchActiveOptionsChapterSelectorMobileHandler()"
          >
            <img
              ngSrc="../../../../assets/svg/chevron.svg" alt=">" width="26" height="26"
              class="rotate-180 mr-[2px]"
            >
          </div>
          <h2 class="text-white font-semibold mt-[2px] text-base usm:text-xl">Options</h2>
        </div>
        <img
          ngSrc="../../../../assets/svg/xMark.svg" alt="X" width="30" height="30"
          class="transition-transform hover:scale-125 mt-[4px]"
          (click)="closeWindowClickHandler()"
        />
      </div>
      <div class="relative w-full h-[calc(100%_-_50px)] flex justify-start px-[10px] gap-[10px] pb-[10px] overflow-hidden">
        <div class="hidden sm:flex w-[200px] h-fit max-h-full flex-col rounded-lg overflow-y-scroll no-scrollbar">
          <app-options-chapter-selector-container
            class="w-[200px] h-fit max-h-full"
            [switchActiveOptionsChapterHandler]="switchActiveOptionsChapterHandler"
            [optionsChapters]="optionsChapters"
          ></app-options-chapter-selector-container>
        </div>
        <app-options-chapter-selector-mobile
          class="absolute top-0 left-0 block sm:hidden w-full h-full transition-transform duration-100"
          [ngClass]="{
            'translate-x-[-100%]': !isMobileChapterSelectorActive
          }"
          [switchActiveOptionsChapterHandler]="switchActiveOptionsChapterHandler"
          [optionsChapters]="optionsChapters"
        ></app-options-chapter-selector-mobile>
        @if (activeOptionChapter) {
          <app-options-chapter-container
            class="w-full sm:w-[calc(100%_-_210px)] h-full"
            [activeOptionChapter]="activeOptionChapter"
          ></app-options-chapter-container>
        }
      </div>
    </div>
  </div>
  <div
    class="pointer-events-none absolute z-10 transition-colors w-full h-full"
    [ngClass]="{
      'bg-black/50': (activePages$ | async)?.optionsPage,
      'bg-transparent': !(activePages$ | async)?.optionsPage
    }"
  ></div>
  <div
    class="w-full h-full absolute z-20"
    [ngClass]="{
      'block': (activePages$ | async)?.optionsPage,
      'hidden': !(activePages$ | async)?.optionsPage
    }"
  ></div>
</div>
