<div
  class="w-full h-full overflow-y-scroll rounded-lg py-[14px] px-[20px] bg-gray-900 no-scrollbar"
>
  <div class="
    w-full grid align-top gap-y-[5px] gap-x-[6px]
    grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 2xl:grid-cols-6
  ">
    @for (solidityModel of symbolsList$ | async; track solidityModel.QuoteVolume) {
      <app-symbols-table-item
        [solidityInfo]="solidityModel"
        [getSolidityDistanceColor]="getSolidityDistanceColor"
        [getSolidityRatioColor]="getSolidityRatioColor"
      ></app-symbols-table-item>
    }
  </div>
</div>
