<div class="absolute top-0 left-0 w-screen h-[40px] bg-gray-700 flex justify-between items-center px-[20px]">
  <div class="flex items-center gap-[10px]">
    <button
      class="text-white transition-colors px-[8px] py-[2px] rounded-lg"
      [ngClass]="{
        'bg-gray-600 hover:bg-gray-500': (activePages | async)?.mainPage
      }"
      (click)="ButtonClickMainPageSwitchHandler()"
    >Go back</button>
    <button
      class="text-white bg-gray-600 hover:bg-gray-500 transition-colors px-[8px] py-[2px] rounded-lg"
      (click)="ButtonClickOptionsPageSwitchHandler()"
    >Options</button>
  </div>
  <h3 class="hidden sm:inline text-white text-[20px]">Crypto Screener</h3>
  <div class="flex sm:hidden w-[30px] aspect-square justify-center items-center bg-blue-700 rounded-full">
    <h3 class="text-white text-lg font-semibold">S</h3>
  </div>
</div>
