<div class="w-full h-full flex flex-col items-center">
  <app-options-label
    class="w-full"
    labelText="Min Volume (value * 100k)"
    [formObject]="SolidityFinderOptions"
    key="MinVolume"
  ></app-options-label>
  <app-options-label
    class="w-full"
    labelText="Ratio Access"
    [formObject]="SolidityFinderOptions"
    key="RatioAccess"
  ></app-options-label>
  <app-options-label
    class="w-full"
    labelText="Up To Price"
    [formObject]="SolidityFinderOptions"
    key="UpToPriceAccess"
  ></app-options-label>
  <app-options-label
    class="w-full"
    labelText="Non-Concern Period (value * 15m)"
    [formObject]="SolidityFinderOptions"
    key="NonConcernPeriodAccess"
  ></app-options-label>
  <app-options-button
    [clickHandler]="HandleClickApplyButton"
  >Apply</app-options-button>
</div>
