<div
  class="w-full h-[20px] flex justify-between items-center border-[2px] hover:bg-gray-600 overflow-hidden transition-colors rounded-md"
  [ngClass]="{
      'bg-blue-400': solidityInfo.Solidity.Ratio > 10,
      'bg-blue-600': solidityInfo.Solidity.Ratio > 15,
      'bg-blue-800': solidityInfo.Solidity.Ratio > 20,
  }"
  (click)="ClickHandler()"
>
  <div class="flex h-full items-center gap-[5px]">
    <div
      class="h-full w-[6px]"
      [ngClass]="getSolidityDistanceColor(solidityInfo.Solidity.Type, solidityInfo.Solidity.UpToPrice)"
    ></div>
    <span class="text-white text-usm">{{solidityInfo.Symbol}}</span>
  </div>
  <div class="flex h-full items-center gap-[5px] pr-[4px]">
    <span class="text-white text-right text-usm w-[20px]">{{this.binanceOrdersCalculatingKit.RoundUp(this.solidityInfo.Solidity.Ratio, 1)}}</span>
    <span class="text-white text-right text-usm w-[20px]">{{this.binanceOrdersCalculatingKit.RoundUp(this.solidityInfo.Solidity.UpToPrice, 1)}}</span>
    <span class="text-white text-right text-usm w-[50px]">{{solidityInfo.Price}}</span>
  </div>
</div>
