<div
  class="w-full h-[18px] flex justify-between items-center border-gray-500 border-[1px] hover:bg-gray-600 overflow-hidden transition-colors rounded-md"
  [ngStyle]="{
    'backgroundColor':
      !isSolidityBroken ?
        getSolidityRatioColor(solidityInfo.Solidity.Ratio) :
        '#fca5a5'
  }"
  (click)="ClickHandler()"
>
  <div class="flex h-full items-center gap-[5px]">
    <div
      class="h-full w-[6px]"
      [ngStyle]="{
        'backgroundColor':
          !isSolidityBroken ?
            getSolidityDistanceColor(solidityInfo.Solidity.Type, solidityInfo.Solidity.UpToPrice) :
            'transparent'
      }"
    ></div>
    <span class="text-white text-usm">{{solidityInfo.Symbol}}</span>
  </div>
  <div class="flex h-full items-center gap-[5px] pr-[4px]">
    <span class="text-white text-right text-usm w-[42px]">{{binanceOrdersCalculatingKit.RoundUp(solidityInfo.Solidity.Ratio, 1)}}</span>
    <span class="text-white text-right text-usm w-[42px]">{{binanceOrdersCalculatingKit.RoundUp(solidityInfo.Solidity.UpToPrice, 1)}}%</span>
    <span class="text-white text-right text-usm w-[42px]">{{binanceOrdersCalculatingKit.RoundUp(solidityInfo.QuoteVolume / 1000000, 1)}}M$</span>
    <span class="text-white text-right text-usm w-[42px]">{{solidityInfo.Price}}</span>
  </div>
</div>
