<div class="charts-container block relative w-full h-full">
  @if (canvasId) {
    <app-canvas-candlestick-chart
      [candlestickData]="CandlestickData"
      [canvasId]="canvasId"
      [solidityModel]="selectedSymbol"
      [chartTimeframe]="candleChartInterval"
      [streamLastCandle]="LastCandlestick"
      [tickSize]="tickSize"
      class="block w-full h-full"
    ></app-canvas-candlestick-chart>

    @if (selectedSymbol !== null) {
      <div class="absolute top-[15px] left-[15px] flex gap-[5px]">
        <div class="flex items-center justify-center px-[8px] h-[24px] rounded-lg bg-blue-900">
          <p class="text-white font-semibold text-sm">
            {{selectedSymbol.Symbol}}
          </p>
        </div>
        <div class="h-[24px] hover:h-[124px] rounded-lg bg-blue-900 transition-all overflow-hidden">
          <div class="w-full h-[124px] flex flex-col justify-center items-center">
            <div class="w-full h-[24px] px-[8px] flex items-center justify-center">
              <button class="bg-transparent border-none text-white font-semibold text-sm">
                {{candleChartInterval.toUpperCase()}}
              </button>
            </div>
            <div class="w-full h-[100px] overflow-y-scroll no-scrollbar flex flex-col justify-start items-center">
              @for (chartInterval of otherChartIntervals; track chartInterval) {
                <button
                  class="w-full h-[26px] px-[8px] flex items-center justify-center transition-colors bg-transparent hover:bg-gray-100/30 rounded-lg"
                  (click)="ChangeTimeframe(chartInterval)"
                >
                  <p class="text-white font-semibold text-sm">{{chartInterval.toUpperCase()}}</p>
                </button>
              }
            </div>
          </div>
        </div>
      </div>
    }

    @if (isLoading) {
      <div class="w-full h-full flex items-center justify-center absolute top-0 left-0 bg-gray-900">
        <div class="w-[40px] h-[40px] bg-transparent border-2 border-[#fff] animate-spin"></div>
      </div>
    }
  }
</div>
