<div
  class="w-full h-[20px] border-[2px] hover:bg-gray-500/50 duration-[.04s] flex justify-between items-center px-[10px]"
  [ngStyle]="{
    'backgroundColor': (activeSymbol$ | async)?.Symbol === this.symbolTicket.Symbol ?
      'transparent' :
      !isSolidityBroken ?
        getSolidityRatioColor(symbolTicket.Solidity.Ratio) :
        '#fca5a5',
    'border-color': (activeSymbol$ | async)?.Symbol === this.symbolTicket.Symbol ?
        !isSolidityBroken ?
            getSolidityRatioColor(symbolTicket.Solidity.Ratio) :
            '#fca5a5' :
        'transparent'
  }"
  (click)="ClickHandler()"
>
  <div class="h-full flex items-center">
    <div
      class="inline aspect-square w-[16px] border-[2px] border-[#fff] rounded-full mr-[6px] transition-all"
      [ngStyle]="{
        'backgroundColor': getSolidityDistanceColor(symbolTicket.Solidity.Type, symbolTicket.Solidity.UpToPrice),
        'opacity-0': isSolidityBroken
      }"
    ></div>
    <span class="text-white text-sm">{{symbolTicket.Symbol}}</span>
  </div>
  <div class="flex justify-end items-center w-[140px] h-full">
    <span class="text-white text-right text-sm">{{binanceOrdersCalculatingKit.RoundUp(symbolTicket.Solidity.Ratio, 1)}}</span>
    <span class="text-white text-right text-sm w-[80px]">{{symbolTicket.Solidity.Price}}</span>
  </div>
</div>
