<div
  class="w-full h-[25px] border border-transparent hover:bg-blue-500/50 duration-[.04s] flex justify-between items-center px-[10px]"
  [ngStyle]="{
    'backgroundColor': (activeSymbol$ | async)?.Symbol === this.symbolTicket.Symbol ?
      '#4b5563' :
      getSolidityRatioColor(symbolTicket.Solidity.Ratio)
  }"
  (click)="ClickHandler()"
>
  <div class="h-full flex items-center">
    <div
      class="inline aspect-square w-[16px] border-[2px] border-[#fff] rounded-full mr-[6px]"
      [ngStyle]="{
        'backgroundColor': getSolidityDistanceColor(symbolTicket.Solidity.UpToPrice)
      }"
    ></div>
    <span class="text-white">{{symbolTicket.Symbol}}</span>
  </div>
  <div class="flex justify-end items-center w-[140px] h-full">
    <span class="text-white text-right text-sm">{{binanceOrdersCalculatingKit.RoundUp(symbolTicket.Solidity.Ratio, 1)}}</span>
    <span class="text-white text-right text-sm w-[80px]">{{symbolTicket.Solidity.Price}}</span>
  </div>
</div>
