<div class="w-screen h-screen pt-[40px] overflow-hidden">
  <app-header></app-header>
  <div class="w-[200%] h-full flex flex-row translate transition-transform" [ngClass]="{'translate-x-[-50%]': (SymbolsListActivePage$ | async)}">
    <app-symbols-table-container></app-symbols-table-container>
    <div class="w-screen h-full flex">
      <app-symbols-item-list class="w-[250px]"></app-symbols-item-list>
      <app-symbols-charts-container class="w-[calc(100%_-_250px)]"></app-symbols-charts-container>
    </div>
  </div>
</div>
